{
  "ddbTablePrefix": "de_ma_",
  "cache": {
    "engine": "memcached",
    "servers": [
      "127.0.0.1:11211"
    ],
    "defaultTtl": 36000,
    "consistentBehavior": 1
  },
  "storage": {
    "endpoint": "http://localhost:8000",
    "region": "localhost",
    "apiKey": "X",
    "apiSecret": "X",
    "apiVersion": "2012-08-10",
    "enableSsl": "0",
    "enableLogging": "0",
    "enableAutoscaling": "1",
    "autoScaling": {
      "endpoint": "http://localhost:8000",
      "region": "localhost",
      "apiKey": "X",
      "apiSecret": "X",
      "apiVersion": "2016-02-06",
      "enableSsl": "0"
    }
  },
  "chains": [
    {
      "chainId": 1000,
      "cache": {
        "engine": "memcached",
        "servers": [
          "127.0.0.1:11211"
        ],
        "defaultTtl": 36000
      },
      "storage": {
        "endpoint": "http://localhost:8000",
        "region": "localhost",
        "apiKey": "X",
        "apiSecret": "X",
        "apiVersion": "2012-08-10",
        "enableSsl": "0",
        "enableLogging": "0",
        "enableAutoscaling": "1",
        "autoScaling": {
          "endpoint": "http://localhost:8000",
          "region": "localhost",
          "apiKey": "X",
          "apiSecret": "X",
          "apiVersion": "2016-02-06",
          "enableSsl": "0"
        }
      },
      "nodes": [
        {
          "client": "geth",
          "wsEndpoint": "ws://127.0.0.2:8546",
          "rpcEndpoint": "http://127.0.0.2:8545"
        }
      ]
    },
    {
      "chainId": 2001,
      "cache": {
        "engine": "memcached",
        "servers": [
          "127.0.0.1:11211"
        ],
        "defaultTtl": 36000
      },
      "storage": {
        "endpoint": "http://localhost:8000",
        "region": "localhost",
        "apiKey": "X",
        "apiSecret": "X",
        "apiVersion": "2012-08-10",
        "enableSsl": "0",
        "enableLogging": "0",
        "enableAutoscaling": "1",
        "autoScaling": {
          "endpoint": "http://localhost:8000",
          "region": "localhost",
          "apiKey": "X",
          "apiSecret": "X",
          "apiVersion": "2016-02-06",
          "enableSsl": "0"
        }
      },
      "nodes": [
        {
          "client": "geth",
          "wsEndpoint": "ws://127.0.0.1:8546",
          "rpcEndpoint": "http://127.0.0.1:8545"
        }
      ]
    }
  ],
  "extraStorageColumns": {
    "chains": {
      "chainName": {
        "shortName": "cnm",
        "dataType": "S"
      }
    },
    "blocks":{
      "totalTokenTransfers": {
        "shortName": "ttt",
        "dataType": "N"
      }
    }
  }
}
